<!-- Add desktop navigation bar -->
  <nav class="nav sticky-top py-1 px-3 d-none d-sm-flex site-header justify-content-between">
    <a class="menu-item" href="index.html">ABOUT ME</a>
    <a class="menu-item" href="datajustice.html">DATA JUSTICE</a>

    <li class="menu-item dropdown">
      <a class="dropdown-toggle menu-item" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        PROJECTS
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item menu-item" href="aclum.html">ACLU OF MA</a>
        <a class="dropdown-item menu-item" href="astro.html">ASTROPHYSICS</a>
        <a class="dropdown-item menu-item" href="afam.html">AFRICAN AMERICAN STUDIES</a>
      </div>
    </li>

    <a class="menu-item" href="cv.html">C/V</a>
    <a class="menu-item" href="contact.html">CONTACT</a>
  </nav>

  <!-- Add mobile navigation bar -->
  <nav class="site-header-mobile sticky-top py-1 d-block d-sm-none">
      <nav class="navbar navbar-light">
        <button class="navbar-toggler btn" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fa fa-bars"></span>
        </button>

      </nav>

      <span class="collapse" id="navbarToggleExternalContent">
        <div class="mobile-menu">
          <ul>
            <li><a class="menu-item" href="index.html">ABOUT ME</a></li>

            <li><a class="menu-item" href="datajustice.html">DATA JUSTICE</a></li>

            <li class="menu-item dropdown">
              <a class="dropdown-toggle menu-item" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                PROJECTS
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item menu-item" href="aclum.html">ACLU OF MA</a>
                <a class="dropdown-item menu-item" href="astro.html">ASTROPHYSICS</a>
                <a class="dropdown-item menu-item" href="afam.html">AFRICAN AMERICAN STUDIES</a>
              </div>
            </li>

            <li><a class="menu-item" href="cv.html">C/V</a><br></li>
            <li><a class="menu-item" href="contact.html">CONTACT</a></li>
          </ul>
        </div>
      </span>
  </nav>